
.banner {
    h1,
    h2,
    h3,
    p,
    blockquote,
    .btn-contact,
    .banner__container,
    .content-wrapper {
        color: $banner-font-color;
        z-index: 10;
    }
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    position: relative;

    h2 {
        text-shadow: 0px 3px 6.65px rgba(0,0,0,0.8);
    }

    h1,
    h2,
    h3 {
        text-transform: uppercase;
    }
}

.banner__container {
    align-items: center;
    height: 100%;
}


.banner__filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: 5;
    background-color: rgb( 35, 35, 35);
}

.website-intro {
    height: 656px;
    background-image: url('../assets/images/banners/asset.jpg.png');
    text-align: center;
    font-family: $nav-link-font-family;
    line-height: 0.833;
    margin-bottom: 90px;

    .banner__container {
        max-width: 679px;
        width: 90%;
        margin: 0 auto;
    }
}

.contact-us-banner {
    min-height: 372px;
    background-image: url('../assets/images/banners/businessmen-min.png');
    align-items: flex-start;
    margin-bottom: 91px;
    .content-wrapper {
        align-self: center;
    }
}
