
/** Default button class */
.btn {
    padding: 10px 25px;
    color: inherit;
}

/**
Buttons inside of the banners are transparent and have a white rounded border
=============================================================================*/
.btn-contact {
    background-color: transparent;
    border-radius: 6px;
    border: 4px solid white;
    display: inline;
    cursor: pointer;
    //This prevents the button from stretching
    align-self: center;

}

.btn.btn-contact {
    &:hover {
        background-color: white;
        color: black;
    }
}
