.btn {
    padding: 10px 25px;
    color: inherit;
}

.btn-contact {
    background-color: transparent;
    border-radius: 6px;
    border: 4px solid white;
    display: inline;
    align-self: center;
    &:hover {
        background-color: white;
        color: black;
    }
}
