.navbar, .footer, {
    background-color: $nav-footer-background-color;
}

// Nav bar
.navbar {
    min-height: 92px;
    width: 100%;
    padding: 20px 0px;
    nav {
        text-align: center;
    }
    .nav-link {
        color: $banner-font-color;
        padding: 10px 3px;
        //padding: 10px 18px;
        font-size: $nav-link-font-size;
        line-height: 0.9;
        font-family: $nav-link-font-family;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
