@media only screen and (min-width: 560px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 74px;
    }

    .benefits {
        // flex-direction: row;
    }
}
