@media only screen and (min-width: 560px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 74px;
    }

    .benefits {
        // flex-direction: row;
    }

    .testimonials {
        flex-direction: row;
        margin-bottom: 50px;

        .testimonial {
            width: 40%;
            margin-right: 10%;
        }
    }

    .plan {
        .icons {

        }

        .plan-wrapper {
            display: flex;
        }

    }

    .icons {
        //flex-wrap: wrap;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-gap: 90px;

        .icon__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            div {
                align-self: start;
            }
            width:auto;
            img {
                align-self: center;
            }
        }
    }
}
