$nav-footer-background-color: #312f2f;
$banner-font-color: #ffffff;
$banner-header-font-size: 2.25rem;

$nav-link-font-size: 1.25rem;
$nav-link-font-family: 'Oswald', sans-serif;
$small-text-font-family: 'Open Sans', sans-serif;

$icon-heading-color: #8a6b52;
$footer-font-color: #6e6d6d;

h1,
h2,
h3,
p {
    margin: 0;
    line-height: 1;
    font-family: $nav-link-font-family;
}

.navbar, .footer, {
    background-color: $nav-footer-background-color;
}

img {
    //width: 100%;
}

a {
    display: inline-block;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
};


h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.875rem;
    margin-bottom: 23px;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 35px;
}

p, blockquote, h4 {
    margin-bottom: 15px;
    font-size: 1rem;
    font-family: $small-text-font-family;
    line-height: 1.5;
}

.benefits__icon {
    margin-bottom: 45px;
}


.start-invite {
    height: 531px;
    background-image: url('../assets/images/banners/climbing stairs-min.png');
    text-align: center;
    text-shadow: 0px 3px 6.65px rgba(0,0,0,0.8);
}



.content-wrapper {
    max-width: 870px;
    width: 90%;
    margin: 0 auto;
}

.footer {
    height: 228px;

    line-height: 1.875;

    * {
        color: $footer-font-color;
    }
}

.icon-description {
    color: $icon-heading-color;
}

.social-media-links {
    font-size: 16px;
    * {
        margin-bottom: 25px;
    }
    a {
        margin-right: 23px;
    }
}

.testimonials {
    margin-bottom: 125px;
    flex-direction: column;
}

.testimonial {
    position: relative;
    margin-bottom: 30px;
    .quote-icon {
        position: absolute;
        opacity: 0.85;
        top: 45px;
        left: 0px;
    }

    .testimonial__text {
        margin-left: 9px;
    }

    .testimonial__profile-img {
        margin-right: 16px;
        align-self: center;
    }

    .name {
        font-weight: bold;
    }
}

.icons {
    //flex-wrap: wrap;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 90px;
    padding-bottom: 20px;
    .icon__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        div {
            align-self: start;
        }
        width:auto;
        img {
            align-self: center;
        }
    }
}

// Nav bar
.navbar {
    min-height: 92px;
    width: 100%;
    padding: 20px 0px;
    nav {
        text-align: center;
    }
    .nav-link {
        color: $banner-font-color;
        padding: 10px 18px;
        font-size: $nav-link-font-size;
        line-height: 0.9;
        font-family: $nav-link-font-family;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.info__section {
    overflow: hidden;
    margin-bottom: 78px;
    img {
        float: left;
        margin-right: 79px;
    }
}

.icon__container {
    text-align: center;

    .icon-description {
        font-weight: bold;
    }
    img {
        margin-bottom: 15px;
    }
}
