h1,
h2,
h3,
p {
    margin: 0;
    line-height: 1;
    font-family: $nav-link-font-family;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.875rem;
    margin-bottom: 23px;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 35px;
}

p, blockquote, h4 {
    margin-bottom: 15px;
    font-size: 1rem;
    font-family: $small-text-font-family;
    line-height: 1.5;
}

a {
    display: inline-block;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.content-wrapper {
    max-width: 870px;
    width: 90%;
    margin: 0 auto;
}
