.flex-container {
    display: flex;
}

.flex-grid {
    display: grid;
}

.flex-inline-grid {
    display: inline-grid;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

.benefits {
    grid-gap: 56px;
    grid-template-columns: repeat(auto-fit, minmax( 167px, 1fr));
    grid-template-rows: 370px;
    text-align: center;
    margin-bottom: 150px;
}

.info {
    margin-bottom: 113px;
}

.plan {
    margin-bottom: 125px;
}

.footer, .start-invite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
