$nav-footer-background-color: #312f2f;
$banner-font-color: #ffffff;
$banner-header-font-size: 2.25rem;

$nav-link-font-size: 1.25rem;
$nav-link-font-family: 'Oswald', sans-serif;
$small-text-font-family: 'Open Sans', sans-serif;

$icon-heading-color: #8a6b52;
$footer-font-color: #6e6d6d;
